body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("../img/Black.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  background-color: #444;
  color: #efefef;
  text-align: center;
  padding: 1em;
}

.navbar{
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
    float: left;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #043454;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;

}

.car-details {
  flex: 1;
  /* Make this section take up the available space */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.car-info {
  padding-right: 200px;
  text-align: justify;
}

#car-image {
  max-width: 50%;
  height: auto;
  margin-right: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.info {
  margin-left: 20px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

select {
  padding: 5px;
}

button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
