*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}


.banner2{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../img/carro_portada.jpg);
    background-size: cover;
    background-position: center;
    align-items: flex-start;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #043454;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;

}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #ffff;

}

.content h1{
    font-size: 70px;
    margin-top: 80px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 20px;
}

.heading{
    padding-top: 2%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.heading h1{
    font-size: 50px;
    color: rgb(32, 32, 32);
    margin-bottom: 25px;
    position: relative;
}

.heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color:#5a8ca2;
}

.heading p{
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}



.vision{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.vision-content{
    flex: 1;
}

.vision-content h2{
    font-size: 30px;
    margin-bottom: 15px;
    color: #333;
}

.vision-content p{
    font-size: 19px;
    line-height: 1.5;
    color: #666;
    text-align: justify;
}

.vision-image{
    flex: 1;
    margin-left: 40px;
    overflow: hidden;
}

.vision-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.vision-image:hover img{
    transform: scale(1.2);
}

.mision{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.mision-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.mision-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.mision-image:hover img{
    transform: scale(1.2);
}

.mision-content{
    flex: 1;
}

.mision-content h2{
    font-size: 30px;
    margin-bottom: 15px;
    color: #333;
}

.mision-content p{
    font-size: 19px;
    line-height: 1.5;
    color: #666;
    text-align: justify;
}

.objetivos{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.objetivos-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.objetivos-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.objetivos-image:hover img{
    transform: scale(1.2);
}

.objetivos-content{
    flex: 1;
}

.objetivos-content h2{
    font-size: 30px;
    margin-bottom: 15px;
    color: #333;
}


.objetivos-content li{
    margin-left: 6%;
    font-size: 19px;
    line-height: 1.5;
    color: #666;
    text-align: justify;
}


.container-team{
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
}

.sub{
    margin-top: 8%;
    background-color: #f0f0f0;
    padding-bottom: 6%;
    box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.5);

}

.title{
    padding-top: 2%;
    text-align: center;
    margin-bottom: 50px;
}

.title h1{
    color: #333333;
    text-transform: uppercase;
}

.title p{
    font-size: 18px;
    margin: 2%;
    text-align: justify;
}

.content-team{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.card{
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    width: 220px;
}


.card h3{
    text-align: center;
    padding: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    color: #333333;
}

.imgbox{
    width: 220px;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.imgbox img{
    width: 220px;
}

.img-info{
    position: absolute;
    top: 250px;
    color: white;
    width: 200px;
    height: 230px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.img-info  span{
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 12%;
}

.img-info p{
    font-size: 0.75rem;
    text-align: justify;
}

#one:hover .imgbox img{
    transform: translateY(-100%);
    transition: all 035s ease;
}

#one:hover .imgbox .img-info{
    background-color:#043454;
    transform: translateY(-100%);
    transition: all 0.35s ease;
}

#two:hover .imgbox img{
    transform: translateY(-100%);
    transition: all 035s ease;
}

#two:hover .imgbox .img-info{
    background-color:#043454;
    transform: translateY(-100%);
    transition: all 0.35s ease;
}


#three:hover .imgbox img{
    transform: translateY(-100%);
    transition: all 035s ease;
}

#three:hover .imgbox .img-info{
    background-color:#043454;
    transform: translateY(-100%);
    transition: all 0.35s ease;
}

#four:hover .imgbox img{
    transform: translateY(-100%);
    transition: all 035s ease;
}

#four:hover .imgbox .img-info{
    background-color:#043454;
    transform: translateY(-100%);
    transition: all 0.35s ease;
}


.ultimo{
    padding-bottom: 5%;
}

@media screen and (max-width: 768px){
    .heading{
        padding: 0px 20px;
    }
    .heading h1{
        font-size: 36px;
    }
    .heading p{
        font-size: 17px;
        margin-bottom: 0px;
    }
    .container{
        padding: 0px;
    }
    .mision{
        padding: 20px;
        flex-direction: column;
    }
    .mision-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .mision-content{
        padding: 0px;
        font-size: 16px;
    }
    .vision{
        padding: 20px;
        flex-direction: column;
    }
    .vision-image{
        margin-top: 2%;
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .vision-content{
        padding: 0px;
        font-size: 16px;
    }
    .objetivos{
        padding: 20px;
        flex-direction: column;
    }
    .objetivos-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .objetivos-content{
        padding: 0px;
        font-size: 16px;
    }
}